* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

/* ***********************header*********** */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#check{
    display: none;
}
.menu{
    display: none;
}
#check:checked+.home{
    display:flex;
    position: absolute;
background-color: white;
    flex-direction: column;
    top:65px;
    justify-content:center;
    align-items:center;
    right: 0px;
    width: 100%;

}
#check:checked+.home>a{
    color: black;
}

.icon {
    display: flex;
    gap: 5px;
    color: white;
}

.icon>i {
    font-size: 2.5rem;
    color: red;
}
.icon>h2{
    padding-top: 6px;

}
.header {
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;
    padding: 20px;
}

.home {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.home>a {
    font-size: 1.2rem;
    color:white;
    text-decoration: none;
}
/* *****************body**************** */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90vh;
   

}
.image{
    background-image: url('./register.webp');
    margin-top: 70px;
    height:85vh;
    background-size: cover;
    background-position: center;
}
.invest{
    display: grid;
    margin-top: 70px;
    height: 90vh;
   padding-bottom: 0px;
  
  
}

.invest>.register>h2{
    padding: 20px;
    display:grid;
    place-items:center ;
    font-size: 1.8rem;
    background-color: rgb(3, 3, 65);
    color: white;

}
.invest>.register>p{
    padding: 10px;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
   
}
#center{
    display:grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}
#center>button{
    cursor: pointer;
}
.now{
padding:10px 20px 10px 20px;
font-size: 1.2rem;
color: white;
background-color: #721414;


}
@media screen and (max-width: 600px){
    .home {
        display:none;
    }
    .icon>i {
        font-size: 2rem;
    }
    .icon>h2{
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .container{
        display: grid;
        grid-template-columns:1fr;
    
    }.image{
        height: 60vh;
    }

    .invest{
        margin-top:0px;
    }
    .image{
        background-image: url('./register.webp');
        height:20vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .now{
        padding:5px 10px 5px 10px;
        font-size: 1rem;  
        }
        #center{
    
            gap: 10px;
        }
        .image{
width: 30vh;
width: 100vw;
        }
        .invest>.register>h2{
 display: none;
}
#center{

    gap: 10px;
}
.invest{
 
    height: 65vh;
  
  
}
.menu{
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    margin-left: 90px;
  }  
 
    .home {
        display:none;
    }
    .icon>i {
        font-size: 2rem;
    }
    .icon>h2{
        font-size: 1.6rem;
        margin-bottom: 10px;
    }


}